<html>
    <head>
        <link rel="stylesheet" href="assets/dist/css/bootstrap.css" />
    </head>
    <body>
        <a routerLink="/home">Back</a>
      <h2>Sections for {{course.title}}</h2>
      <input [(ngModel)]="sectionName" placeholder="Section Name" class="form-control"/>
      <input [(ngModel)]="seats" placeholder="Seats Available" class="form-control"/>
      <button (click)="createSection()" class="btn btn-primary">Add Section</button>
      <ul class="list-group">
        <li *ngFor="let section of sections" class="list-group-item" >
          <div>{{section.sectionName}}</div> Seats: {{section.seats}}
          <button (click)="editSection(section._id)" class="btn btn-primary float-right">Edit</button>
          <button (click)="deleteSection(section._id)" class="btn btn-primary float-right">Delete</button>
        </li>
      </ul>
    </body>
</html>