<html>
    <head>
        <!-- <link rel="stylesheet" href="assets/dist/css/bootstrap.css" /> -->
    </head>
    <body>
      <div class="container-fluid">
          <ul>
              <li class="list-group-item" *ngFor="let widget of widgets">
                <div [ngSwitch]="widget.className">
                  <div *ngSwitchCase="'Heading'">
                      <div [ngSwitch]="widget.size">
                        <h1  *ngSwitchCase="'1'">{{widget.text}}</h1>
                        <h2  *ngSwitchCase="'2'">{{widget.text}}</h2>
                        <h3  *ngSwitchCase="'3'">{{widget.text}}</h3>
                      </div>
                  </div>
                  <div *ngSwitchCase="'Image'">
                      <img src={{widget.src}}/>
                  </div>
                  <div *ngSwitchCase="'Link'">
                      <a href={{widget.href}}>{{widget.text}}</a>
                  </div>
                  <div *ngSwitchCase="'Paragraph'">
                      <p>{{widget.text}}</p>
                  </div>
                  <div *ngSwitchCase="'List'">
                      <div [ngSwitch]="widget.listType">
                          <div *ngSwitchCase="'ORDERED'">
                              <ol class="list-group">
                                <li class="list-group-item" *ngFor="let item of widget.text.split('\n')">
                                  {{item}}
                                </li>
                              </ol>
                          </div>
                          <div *ngSwitchCase="'UNORDERED'">
                              <ul class="list-group">
                                <li class="list-group-item" *ngFor="let item of widget.text.split('\n')">
                                    {{item}}
                                </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
              </li>

          </ul>
        </div>
    </body>
</html>