<html>
    <head>
        <link rel="stylesheet" href="assets/dist/css/bootstrap.css" />
    </head>
    <body>
      <div class="container-fluid">
        <h1>Course Navigator</h1>
        <div class="row">
          <div class="col-3">
              <ul>
                  <li class="list-group-item active">Courses</li>
                  <li *ngFor="let course of courses" class="list-group-item">
                      {{course.title}}
                      <button class="btn btn-primary float-right"
                      (click)="viewCourse(course.id)">View</button>
                  </li>
              </ul>
          </div>
          <div class="col-3">modules</div>
          <div class="col-3">lessons</div>
          <div class="col-3">widgets</div>
        </div>
       
      </div>
    </body>
</html>