<html>
    <head>
        <link rel="stylesheet" href="../../assets/dist/css/bootstrap.css"/>
    </head>
    <body>
      <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Modules</li>
                <li *ngFor="let module of modules" class="list-group-item webdev"
                  [ngClass]="{'active': module.id == selectedModuleId}">
                  <a routerLink="/course/{{courseId}}/module/{{module.id}}"
                    >{{module.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-8">
          <app-lesson-tabs></app-lesson-tabs>
          <app-widget-list></app-widget-list>
        </div>
      </div>
      
    </body>
</html>