<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="container">
                <div><a routerLink="/home">Home</a></div>
                <a routerLink="/admin" *ngIf="user.role !== admin">Admin Page</a>

            <h1>Profile</h1>
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-lg-2 col-md-2 col-form-label">Username</label>
                    <div class="col-sm-10 col-lg-10 col-md-10">
                        <input [(ngModel)]="user.username" class="form-control" id="username" placeholder="Alice" readonly>
                    </div>
                </div>
                <div class="form-group row">
                        <label for="firstName" class="col-sm-2 col-lg-2 col-md-2 col-form-label">First Name</label>
                        <div class="col-sm-10 col-lg-10 col-md-10">
                            <input [(ngModel)]="user.firstName" class="form-control" id="firstName" placeholder="Alice">
                        </div>
                    </div>
                    <div class="form-group row">
                            <label for="lastName" class="col-sm-2 col-lg-2 col-md-2 col-form-label">Last Name</label>
                            <div class="col-sm-10 col-lg-10 col-md-10">
                                <input [(ngModel)]="user.lastName" class="form-control" id="lastName" placeholder="Wonderland">
                            </div>
                        </div>
                <div class="form-group row">
                    <label for="role" class="col-sm-2 col-lg-2 col-md-2 col-form-label">Role</label>
                    <div class="col-sm-10 col-lg-10 col-md-10">
                            <input [(ngModel)]="user.role" class="form-control" id="role" placeholder="Student" readonly>
                        </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-lg-2 col-md-2 col-form-label"></label>
                    <div class="col-sm-10 col-lg-10 col-md-10">
                        <button (click)="updateUser()" id="updateBtn" class="btn btn-primary btn-block">Update</button>
                    </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-lg-2 col-md-2 col-form-label"></label>
                        <div class="col-sm-10 col-lg-10 col-md-10">
                            <button (click)="logout()" id="logoutBtn" class="btn btn-primary btn-block">Logout</button>
                        </div>
                </div>
                <div>
                    <h3>Your Sections</h3>
                    <ul class="list-group">
                        <li *ngFor="let enrollment of enrollments" class="list-group-item">
                            {{enrollment.sectionId.sectionName}}
                            <button (click)="dropCourse(enrollment.sectionId._id, enrollment._id)"
                             class="btn btn-primary float-right">Drop</button>
                        </li>
                    </ul>
                </div>
        </div>
    </body>