<html>
    <head>
        <link rel="stylesheet" href="assets/dist/css/bootstrap.css" />
    </head>
    <body>
        <ul *ngIf="sections.length > 0" class="list-group">
            <h2>Your Sections</h2>
            <li *ngFor="let section of sections" class="list-group-item" >
              <div>{{section.sectionId.sectionName}}</div> Seats: {{section.sectionId.seats}}
              <button *ngIf="section.seats>0" (click)="enroll(section._id)" class="btn btn-primary float-right">Enroll</button>
            </li>
          </ul>
      <h2>Course Grid</h2>
      <div class="row">
            <div *ngFor="let course of courses" class="col-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{course.title}}</h5>
                  <p class="card-text"></p>
                  <a routerLink="/course/{{course.id}}" *ngIf="!user" class="btn btn-primary">View</a>
                  <a routerLink="/course/{{course.id}}/sections" *ngIf="!user" class="btn btn-primary">Enroll</a>
                  <a routerLink="/profile" *ngIf="user" class="btn btn-primary">Profile</a>
                </div>
              </div>
            </div>
      </div>
    </body>
</html>
    